<div id="anlegenTable"></div>
<div id="anlegenGrid">
    <div class="one">
        <label>
            Vorname
        </label>
    </div>
    <div class="two">
        <input type="text" class="anlegenFelder" id="vorname">
    </div>
    <div class="three">
        <label>
            Nachname
        </label>
    </div>
    <div class="four">
        <input type="text" class="anlegenFelder" id="nachname">
    </div>
    <div class="five">
        <label>
            Position
        </label>
    </div>
    <div class="six">
        <input type="text" class="anlegenFelder" id="position">
    </div>
    <div class="one">
        <label>
            Standort
        </label>
    </div>
    <div class="two">
        <select id="anlegenChoicebox">
            <option selected>Auswählen</option>
            <option>Essen</option>
        </select>
    </div>
    <div class="three">
        <label>
            Telefon
        </label>
    </div>
    <div class="four">
        <input type="text" class="anlegenFelder" id="telefon">
    </div>
    <div class="five">
        <label>
            E-Mail
        </label>
    </div>
    <div class="six">
        <input type="text" class="anlegenFelder" id="mail">
    </div>
    <div class="six">

        <input type="submit" id="submitButton" value="User anlegen" name="submit">

    </div>
</div>
