<div id="anlegenTable"></div>
<div id="anlegenGrid">
    <form method="post" action="../users.ejs">
        <div class="one">
            <label>
                Vorname
            </label>
        </div>
        <div class="two">
            <input type="text" class="anlegenFelder" id="vorname" name="vorname">
        </div>
        <div class="three">
            <label>
                Nachname
            </label>
        </div>
        <div class="four">
            <input type="text" class="anlegenFelder" id="nachname" name="nachname">
        </div>
        <div class="five">
            <label>
                Position
            </label>
        </div>
        <div class="six">
            <select id="anlegenChoicebox" name="position">
                <option selected>Auswählen</option>
                <% dataPos.forEach(function (dataPos) { %>
                    <option value="<%= dataPos.ID %>"><%= dataPos.position %></option>
                <% }) %>
            </select>
        </div>
        <div class="one">
            <label>
                Standort
            </label>
        </div>
        <div class="two">
            <select id="anlegenChoicebox" name="standort">
                <option selected>Auswählen</option>
                <% dataLoc.forEach(function (dataLoc) { %>
                    <option value="<%= dataLoc.ID %>"><%= dataLoc.standort %></option>
                <% }) %>
            </select>
        </div>
        <div class="three">
            <label>
                Telefon
            </label>
        </div>
        <div class="four">
            <input type="text" class="anlegenFelder" id="telefon" name="telefon">
        </div>
        <div class="five">
            <label>
                E-Mail
            </label>
        </div>
        <div class="six">
            <input type="text" class="anlegenFelder" id="mail" name="mail">
        </div>
        <div class="six">
            <input type="submit" id="submitButton" value="User anlegen" name="submit">
        </div>

    </form>
</div>
