<div id="menu">


    <div id="logo">
        <div id="logotext">
            CC
        </div>
    </div>

    <div id="buttonbar">
        <a href="overview.ejs">
            <div class="menubutton">Übersicht</div>
        </a>
        <a href="users.ejs">
            <div class="menubutton">Users</div>
        </a>
        <a href="locations.ejs">
            <div class="menubutton">Standorte</div>
        </a>
        <a href="jobs.ejs">
            <div class="menubutton">Positionen</div>
        </a>
        <a href="timesheets.ejs">
            <div class="menubutton">Zeitkonten</div>
        </a>
        <a href="admin.ejs">
            <div class="menubutton">Logout</div>
        </a>
    </div>

</div>
