<form method="post" action="../jobs.ejs">

    <label>ID</label>
    <br>
    <select id="Choicebox" name="id">
    </select>
    <br>
    <label>Position</label>
    <br>
    <input type="text" id="textfeld" name="posText">
    <br>
    <input type="submit" id="submitButton" value="Standort ändern" name="locBearbeiten">

</form>

<form method="post" id="positionAnlegen" action="../jobs.ejs">
    <label>Neue Position</label>
    <br>
    <input type="text" id="textfeld" name="positionNeu">
    <br>
    <input type="submit" id="submitButton" value="Bestätigen" name="locAnlegen">
</form>
