<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RealTimeCC - Administration</title>
    <link rel="stylesheet" type="text/css" href="../public/css/login.css">
</head>
<body>
<div id="overlay"></div>
<div id="panel">
    <form method="post">
        <label id="header">
            RealTimeCC - Administrator
        </label>
        <label id="loginlabel">
            Login:
        </label>
        <input type="text" id="loginfeld" name="admin">
        <label id="pwlabel">
            Passwort:
        </label>
        <input type="password" id="pwfeld" name="pw">
        <input type="submit" id="submit" value="Senden">
    </form>
</div>

</body>
</html>

