<% include partials/header.ejs%>

<form method="post" action="/">
    <label>Vorname</label>
    <input type="text" name="vorname">
    <br>
    <label>Nachname</label>
    <input type="text" name="nachname">
    <br>
    <label>Position</label>
    <input type="text" name="position">
    <br>
    <label>Standort</label>
    <input type="text" name="standort">
    <br>
    <label>Telefon</label>
    <input type="text" name="telefon">
    <br>
    <label>E-Mail</label>
    <input type="text" name="mail">
    <br>
    <input type="submit" value="Absenden">

</form>


<%include partials/footer.ejs%>
