<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Admin-Bereich</title>
    <link rel="stylesheet" href="../public/css/jobs.css">
</head>
<body>

<% include partials/buttonbar.ejs %>

<% include partials/jobTable.ejs %>

<% include partials/jobForm.ejs %>

<div id="jobsPanel"></div>

<div id="panel"></div>

</body>
</html>
