<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Admin-Bereich</title>
    <link rel="stylesheet" href="../public/css/timesheets.css">

</head>
<body>

<% include partials/buttonbar.ejs %>

<!--<p>Monat ... für ...</p>-->
<!--<p>Arbeitsstunden gesamt ...</p>-->
<!--<p>Überstunden: ... Quote: ...</p>-->
<!--<p>Fehlstunden: ... Quote: ...</p>-->
<table>
    <tr>
        <th>Datum</th>
        <th>Login</th>
        <th>Logout</th>
        <th>Arbeitsstunden</th>
    </tr>
    <% data.forEach(function (data) { %>
        <tr>
            <td><%= data.datum %></td>
            <td><%= data.login %></td>
            <td><%= data.logout %></td>
            <td><%= data.stunden %></td>
        </tr>
    <% }) %>

</table>


<div id="timesheetsPanel"></div>

<div id="panel"></div>

</body>
</html>
