<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RealTimeCC - User</title>
    <link rel="stylesheet" type="text/css" href="../public/css/userpage.css">
</head>
<body>
<div id="panel"></div>

<div id="userpageGrid">

    <label id="morninglabel">Guten Morgen <%= dataName.vorname %>!</label>
    <div id="infos">(Userinfos)</div>
    <div id="buttonarea">
        <form method="post">
            <% if(dataLogin < 1){ %>
                <input type="submit" class="button" name="loginButton" value="Anmelden">
            <% } else { %>
                <input type="submit" class="button" name="logoutButton" value="Abmelden">
            <% } %>
        </form>
    </div>
</div>

</body>
</html>
