@import "home.css";

#anlegenButton
{
    position: absolute;
    background: #C6D5FF;
    color: #59637F;
    height: 2em;
    width: 7.5em;
    margin-left: 0;
    margin-top: 1em;
    z-index: 1;

    text-align: center;
    font-size: 2em;
    line-height: 2em;
    font-family: roboto-light;
}

#bearbeitenButton
{
    position: absolute;
    background: #C6D5FF;
    color: #59637F;
    height: 2em;
    width: 7.5em;
    margin-left: 0;
    margin-top: 3.5em;
    z-index: 1;

    text-align: center;
    font-size: 2em;
    line-height: 2em;
    font-family: roboto-light;
}

#anlegenTable
{
    position: absolute;
    margin-top: 1em;
    margin-left: 15%;
    height: 55em;
    width: 85%;
    background-color: #3D4E7F;
    opacity: 0.5;
}

#anlegenGrid
{
    position: absolute;
    margin-top: 1em;
    margin-left: 35%;
    height: 70%;
    width: 30%;
    background-color: transparent;
    opacity: 1;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% 15% 15% 15% 15% 15% 30%;

    color: #98D5FF;
    font-size: 3em;
    font-family: roboto-light;

    z-index: 1;

    text-align: left;

}

.anlegenFelder
{
    width: 200%;
    height: 50%;
    background-color: #C6D5FF;

    font-size: 0.8em;
    font-family: roboto-bold;
    color: #3D4E7F;
}

#anlegenChoicebox
{
    width: 200%;
    height: 50%;
    background-color: #C6D5FF;
    justify-self: left;
    margin-left: 0;
    margin-right: 5em;

    font-size: 0.8em;
    font-family: roboto-bold;
    color: #3D4E7F;

}

#submitButton
{
    grid-column: 1 / 2;
    grid-row: 13 / 14;

    width: 200%;
    height: 40%;
    margin-left: 3em;

    font-size: 0.8em;
    font-family: roboto-bold;
    color: #3D4E7F;

    border-radius: 20px 20px 20px 20px;

    background-color: #7A9CFF;
    color: #C6D5FF;
}

#submitButton:hover
{
    background-color: #C6D5FF;
    color: #7A9CFF;

}

